/* selector general */
/* selector specificity: ID   classes, atributos e pseudo-classes  elementos e pseudo-elementos 
 !important => o navegador sobreescrever o seletor de especifidade
eh preferivel usar classes nas tags
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

html {
    scroll-behavior: smooth;


}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background: yellow;
    /*flex-direction: row;*/
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start; /* strech - estica os elementos até altura do conteúdo principal*/
    height: 800px;
    /*height: 100px;
    display: flex;
    flex-wrap: wrap; se nao tiver espaco para ocupar quebra a linha 
   */
}

.flex-item {
    width: 32%;
    height: 200px;
    /*flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1; /* nao permite que o elemento diminui com a diminuicao da tela 

    utilize o atalho abaixo (eh recomendavel que sempre utilize o atalho!):
    */ 
    flex: 1 1 320px;
    background: red;
    margin-bottom: 2%;
    color: white;

}

.flex-item:nth-child(2) {
    flex: 2 1 320px; /* o espaco que sobrar devido o flex-grow=2 usara 2 vezes mais */
    background: purple;
    align-self: center;
    order: 4;
}

.flex-item:nth-child(3) {
    font-size: 40px;
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: stretch;

}
