/* selector general */
/* selector specificity: ID   classes, atributos e pseudo-classes  elementos e pseudo-elementos 
 !important => o navegador sobreescrever o seletor de especifidade
eh preferivel usar classes nas tags
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(320px,1fr)); /* para design super responsivo*/
    /*grid-template-columns: repeat(3,1fr); /* fixa em 3 columns independente do tamanho da tela*/
    /* nomeando as colunas */
    grid-template-columns: [um] 1fr
    [dois] 1fr
    [tres] 1fr; /* fixa em 3 columns independente do tamanho da tela*/


    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.grid div{
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(2),
.grid div:nth-child(4) {
    background: darkred;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 2;
    grid-column: span 2;

}
grid div:nth-child(1){
 /*grid-column-start: um;
 grid-column-end: tres;
 grid-row: 1 / 4;*/
 grid-area: 1 / 4 / 1 / 4;
}

/* para ajustar para dispositivos moveis */

@media(max-width: 768px) {
    grid div:nth-child(4) {
        grid-column: span 1;

    }
}